<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8"/>

    <title>Site Name</title>

    <meta name="description" content="Site Name"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- this is declared other places, but bing needs this specifically for full SEO points -->
    <meta http-equiv="content-language" content="en-us">

    <link rel="shortcut icon" href="{{static('i/favicon.png')}}" />
    <link rel="apple-touch-icon-precomposed" href="{{static('i/favicon-152.png')}}">

    <link rel="stylesheet" type="text/css" href="{{static('c/main.css')}}">
</head>
<body>

<div id="app"></div>

<input id="xsrf" type="hidden" value="{{xsrf}}"/>

{% if debug %}
    <script src="//{{host}}:1234/app.js"></script>
{% else %}
    <script src="{{static('j/svelte.js')}}"></script>
{% end %}

</body>
</html>
